In [1]:
import pandas as pd
import numpy as np
import pandas_ta as ta

In [4]:
D = pd.read_parquet('/workspaces/FYP24061/BTCUSDT.parquet.gzip', engine='pyarrow')
D.head()

,Open Time,Open,High,Low,Close,Volume,Close Time,Quote Asset Volume,Number of Trades,TB Base Volume,TB Quote Volume,Ignore
0,2022-01-01,46216.93,47954.63,46208.37,47722.65,19604.46325,2022-01-01 23:59:59.999000072,9.241552e+08,714899,9942.36679,4.687387e+08,0
1,2022-01-02,47722.66,47990.00,46654.00,47286.18,18340.46040,2022-01-02 23:59:59.999000072,8.666110e+08,709624,9166.46954,4.331824e+08,0
2,2022-01-03,47286.18,47570.00,45696.00,46446.10,27662.07710,2022-01-03 23:59:59.999000072,1.292204e+09,885624,13524.76045,6.318794e+08,0
3,2022-01-04,46446.10,47557.54,45500.00,45832.01,35491.41360,2022-01-04 23:59:59.999000072,1.649170e+09,1021815,17689.26808,8.217255e+08,0
4,2022-01-05,45832.01,47070.00,42500.00,43451.13,51784.11857,2022-01-05 23:59:59.999000072,2.334289e+09,1478532,23552.99460,1.063287e+09,0

## Cleaning

In [200]:
D = D.set_index('Open Time')
D.index.name = 'Date'
D.drop(['Close Time', 'Ignore'], axis=1, inplace=True)
D

,Open,High,Low,Close,Volume,Quote Asset Volume,Number of Trades,TB Base Volume,TB Quote Volume
Date,,,,,,,,,
2022-01-01,46216.93,47954.63,46208.37,47722.65,19604.46325,9.241552e+08,714899,9942.36679,4.687387e+08
2022-01-02,47722.66,47990.00,46654.00,47286.18,18340.46040,8.666110e+08,709624,9166.46954,4.331824e+08
2022-01-03,47286.18,47570.00,45696.00,46446.10,27662.07710,1.292204e+09,885624,13524.76045,6.318794e+08
2022-01-04,46446.10,47557.54,45500.00,45832.01,35491.41360,1.649170e+09,1021815,17689.26808,8.217255e+08
2022-01-05,45832.01,47070.00,42500.00,43451.13,51784.11857,2.334289e+09,1478532,23552.99460,1.063287e+09
...,...,...,...,...,...,...,...,...,...
2024-12-26,99429.61,99963.70,95199.14,95791.60,21192.36727,2.049124e+09,5203490,10071.87249,9.739406e+08
2024-12-27,95791.60,97544.58,93500.01,94299.03,26501.26429,2.528568e+09,5718866,12945.51657,1.235624e+09
2024-12-28,94299.03,95733.99,94135.66,95300.00,8385.89290,7.946516e+08,2732061,4203.59876,3.984163e+08
2024-12-29,95300.00,95340.00,93009.52,93738.20,13576.00578,1.278371e+09,2865838,5651.38589,5.321954e+08
2024-12-30,93738.19,94274.29,93240.03,93866.01,6939.07618,6.502397e+08,1973750,3411.55572,3.197451e+08

## Volume

In [203]:
D['OBV'] = ta.volume.obv(D['Close'], D['Volume'])

D

,Open,High,Low,Close,Volume,Quote Asset Volume,Number of Trades,TB Base Volume,TB Quote Volume,OBV
Date,,,,,,,,,,
2022-01-01,46216.93,47954.63,46208.37,47722.65,19604.46325,9.241552e+08,714899,9942.36679,4.687387e+08,1.960446e+04
2022-01-02,47722.66,47990.00,46654.00,47286.18,18340.46040,8.666110e+08,709624,9166.46954,4.331824e+08,1.264003e+03
2022-01-03,47286.18,47570.00,45696.00,46446.10,27662.07710,1.292204e+09,885624,13524.76045,6.318794e+08,-2.639807e+04
2022-01-04,46446.10,47557.54,45500.00,45832.01,35491.41360,1.649170e+09,1021815,17689.26808,8.217255e+08,-6.188949e+04
2022-01-05,45832.01,47070.00,42500.00,43451.13,51784.11857,2.334289e+09,1478532,23552.99460,1.063287e+09,-1.136736e+05
...,...,...,...,...,...,...,...,...,...,...
2024-12-26,99429.61,99963.70,95199.14,95791.60,21192.36727,2.049124e+09,5203490,10071.87249,9.739406e+08,-4.041333e+06
2024-12-27,95791.60,97544.58,93500.01,94299.03,26501.26429,2.528568e+09,5718866,12945.51657,1.235624e+09,-4.067835e+06
2024-12-28,94299.03,95733.99,94135.66,95300.00,8385.89290,7.946516e+08,2732061,4203.59876,3.984163e+08,-4.059449e+06
2024-12-29,95300.00,95340.00,93009.52,93738.20,13576.00578,1.278371e+09,2865838,5651.38589,5.321954e+08,-4.073025e+06
2024-12-30,93738.19,94274.29,93240.03,93866.01,6939.07618,6.502397e+08,1973750,3411.55572,3.197451e+08,-4.066086e+06

## Trend

### Moving Average

In [207]:
ma_value = [10,20,50,100,200]

for val in ma_value:
    D[f'MA_{val}'] = D['Close'].rolling(window=val).mean()
    
D

,Open,High,Low,Close,Volume,Quote Asset Volume,Number of Trades,TB Base Volume,TB Quote Volume,OBV,MA_10,MA_20,MA_50,MA_100,MA_200
Date,,,,,,,,,,,,,,,
2022-01-01,46216.93,47954.63,46208.37,47722.65,19604.46325,9.241552e+08,714899,9942.36679,4.687387e+08,1.960446e+04,NaN,NaN,NaN,NaN,NaN
2022-01-02,47722.66,47990.00,46654.00,47286.18,18340.46040,8.666110e+08,709624,9166.46954,4.331824e+08,1.264003e+03,NaN,NaN,NaN,NaN,NaN
2022-01-03,47286.18,47570.00,45696.00,46446.10,27662.07710,1.292204e+09,885624,13524.76045,6.318794e+08,-2.639807e+04,NaN,NaN,NaN,NaN,NaN
2022-01-04,46446.10,47557.54,45500.00,45832.01,35491.41360,1.649170e+09,1021815,17689.26808,8.217255e+08,-6.188949e+04,NaN,NaN,NaN,NaN,NaN
2022-01-05,45832.01,47070.00,42500.00,43451.13,51784.11857,2.334289e+09,1478532,23552.99460,1.063287e+09,-1.136736e+05,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-12-26,99429.61,99963.70,95199.14,95791.60,21192.36727,2.049124e+09,5203490,10071.87249,9.739406e+08,-4.041333e+06,98284.956,99607.8400,95033.8046,80374.4530,70868.13345
2024-12-27,95791.60,97544.58,93500.01,94299.03,26501.26429,2.528568e+09,5718866,12945.51657,1.235624e+09,-4.067835e+06,97101.485,99331.1920,95402.6274,80699.8434,70991.92860
2024-12-28,94299.03,95733.99,94135.66,95300.00,8385.89290,7.946516e+08,2732061,4203.59876,3.984163e+08,-4.059449e+06,96611.084,99040.7125,95778.4318,81023.3635,71131.85740
2024-12-29,95300.00,95340.00,93009.52,93738.20,13576.00578,1.278371e+09,2865838,5651.38589,5.321954e+08,-4.073025e+06,96238.718,98863.7990,96119.6466,81328.7350,71259.22845
2024-12-30,93738.19,94274.29,93240.03,93866.01,6939.07618,6.502397e+08,1973750,3411.55572,3.197451e+08,-4.066086e+06,95844.775,98727.4495,96389.5666,81633.9055,71394.69345

### MACD

In [210]:
# 12, 26 EMA
# 9 EMA of MACD

EMA_12 = pd.Series(D['Close'].ewm(span=12, adjust=False).mean())
EMA_26 = pd.Series(D['Close'].ewm(span=26, adjust=False).mean())
D['MACD_12_26'] = EMA_12 - EMA_26

D['Signal_Line_9'] = D['MACD_12_26'].ewm(span=9, adjust=False).mean()
D['MACD_Histogram'] = D['MACD_12_26'] - D['Signal_Line_9']
D

,Open,High,Low,Close,Volume,Quote Asset Volume,Number of Trades,TB Base Volume,TB Quote Volume,OBV,MA_10,MA_20,MA_50,MA_100,MA_200,MACD_12_26,Signal_Line_9,MACD_Histogram
Date,,,,,,,,,,,,,,,,,,
2022-01-01,46216.93,47954.63,46208.37,47722.65,19604.46325,9.241552e+08,714899,9942.36679,4.687387e+08,1.960446e+04,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,0.000000
2022-01-02,47722.66,47990.00,46654.00,47286.18,18340.46040,8.666110e+08,709624,9166.46954,4.331824e+08,1.264003e+03,NaN,NaN,NaN,NaN,NaN,-34.818120,-6.963624,-27.854496
2022-01-03,47286.18,47570.00,45696.00,46446.10,27662.07710,1.292204e+09,885624,13524.76045,6.318794e+08,-2.639807e+04,NaN,NaN,NaN,NaN,NaN,-128.715414,-31.313982,-97.401432
2022-01-04,46446.10,47557.54,45500.00,45832.01,35491.41360,1.649170e+09,1021815,17689.26808,8.217255e+08,-6.188949e+04,NaN,NaN,NaN,NaN,NaN,-249.802065,-75.011599,-174.790466
2022-01-05,45832.01,47070.00,42500.00,43451.13,51784.11857,2.334289e+09,1478532,23552.99460,1.063287e+09,-1.136736e+05,NaN,NaN,NaN,NaN,NaN,-531.751526,-166.359584,-365.391942
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-12-26,99429.61,99963.70,95199.14,95791.60,21192.36727,2.049124e+09,5203490,10071.87249,9.739406e+08,-4.041333e+06,98284.956,99607.8400,95033.8046,80374.4530,70868.13345,649.336173,1621.835275,-972.499101
2024-12-27,95791.60,97544.58,93500.01,94299.03,26501.26429,2.528568e+09,5718866,12945.51657,1.235624e+09,-4.067835e+06,97101.485,99331.1920,95402.6274,80699.8434,70991.92860,286.664277,1354.801075,-1068.136798
2024-12-28,94299.03,95733.99,94135.66,95300.00,8385.89290,7.946516e+08,2732061,4203.59876,3.984163e+08,-4.059449e+06,96611.084,99040.7125,95778.4318,81023.3635,71131.85740,79.102258,1099.661312,-1020.559054
2024-12-29,95300.00,95340.00,93009.52,93738.20,13576.00578,1.278371e+09,2865838,5651.38589,5.321954e+08,-4.073025e+06,96238.718,98863.7990,96119.6466,81328.7350,71259.22845,-209.007042,837.927641,-1046.934683
2024-12-30,93738.19,94274.29,93240.03,93866.01,6939.07618,6.502397e+08,1973750,3411.55572,3.197451e+08,-4.066086e+06,95844.775,98727.4495,96389.5666,81633.9055,71394.69345,-422.156185,585.910876,-1008.067061

## Strength and Momentum

### ADX

In [214]:
D['ADX'] = ta.adx(high=D['High'], low=D['Low'], close=D['Close'])['ADX_14']

D['+DI'] = ta.adx(high=D['High'], low=D['Low'], close=D['Close'])['DMP_14']
D['-DI'] = ta.adx(high=D['High'], low=D['Low'], close=D['Close'])['DMN_14']

D['ADX_Strong'] = (D['ADX'] > 25).astype(int)

D

,Open,High,Low,Close,Volume,Quote Asset Volume,Number of Trades,TB Base Volume,TB Quote Volume,OBV,...,MA_50,MA_100,MA_200,MACD_12_26,Signal_Line_9,MACD_Histogram,ADX,+DI,-DI,ADX_Strong
Date,,,,,,,,,,,,,,,,,,,,,
2022-01-01,46216.93,47954.63,46208.37,47722.65,19604.46325,9.241552e+08,714899,9942.36679,4.687387e+08,1.960446e+04,...,NaN,NaN,NaN,0.000000,0.000000,0.000000,NaN,NaN,NaN,0
2022-01-02,47722.66,47990.00,46654.00,47286.18,18340.46040,8.666110e+08,709624,9166.46954,4.331824e+08,1.264003e+03,...,NaN,NaN,NaN,-34.818120,-6.963624,-27.854496,NaN,NaN,NaN,0
2022-01-03,47286.18,47570.00,45696.00,46446.10,27662.07710,1.292204e+09,885624,13524.76045,6.318794e+08,-2.639807e+04,...,NaN,NaN,NaN,-128.715414,-31.313982,-97.401432,NaN,NaN,NaN,0
2022-01-04,46446.10,47557.54,45500.00,45832.01,35491.41360,1.649170e+09,1021815,17689.26808,8.217255e+08,-6.188949e+04,...,NaN,NaN,NaN,-249.802065,-75.011599,-174.790466,NaN,NaN,NaN,0
2022-01-05,45832.01,47070.00,42500.00,43451.13,51784.11857,2.334289e+09,1478532,23552.99460,1.063287e+09,-1.136736e+05,...,NaN,NaN,NaN,-531.751526,-166.359584,-365.391942,NaN,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-12-26,99429.61,99963.70,95199.14,95791.60,21192.36727,2.049124e+09,5203490,10071.87249,9.739406e+08,-4.041333e+06,...,95033.8046,80374.4530,70868.13345,649.336173,1621.835275,-972.499101,26.570810,19.847686,26.499527,1
2024-12-27,95791.60,97544.58,93500.01,94299.03,26501.26429,2.528568e+09,5718866,12945.51657,1.235624e+09,-4.067835e+06,...,95402.6274,80699.8434,70991.92860,286.664277,1354.801075,-1068.136798,26.079135,18.492411,27.558651,1
2024-12-28,94299.03,95733.99,94135.66,95300.00,8385.89290,7.946516e+08,2732061,4203.59876,3.984163e+08,-4.059449e+06,...,95778.4318,81023.3635,71131.85740,79.102258,1099.661312,-1020.559054,25.622580,17.970196,26.780411,1
2024-12-29,95300.00,95340.00,93009.52,93738.20,13576.00578,1.278371e+09,2865838,5651.38589,5.321954e+08,-4.073025e+06,...,96119.6466,81328.7350,71259.22845,-209.007042,837.927641,-1046.934683,25.460763,17.207188,27.695069,1
2024-12-30,93738.19,94274.29,93240.03,93866.01,6939.07618,6.502397e+08,1973750,3411.55572,3.197451e+08,-4.066086e+06,...,96389.5666,81633.9055,71394.69345,-422.156185,585.910876,-1008.067061,25.310504,16.864948,27.144233,1

### RSI

In [217]:
D['RSI_7'] = ta.rsi(D['Close'], length=7)
D['RSI_14'] = ta.rsi(D['Close'], length=14)
D['RSI_21'] = ta.rsi(D['Close'], length=21)

D

,Open,High,Low,Close,Volume,Quote Asset Volume,Number of Trades,TB Base Volume,TB Quote Volume,OBV,...,MACD_12_26,Signal_Line_9,MACD_Histogram,ADX,+DI,-DI,ADX_Strong,RSI_7,RSI_14,RSI_21
Date,,,,,,,,,,,,,,,,,,,,,
2022-01-01,46216.93,47954.63,46208.37,47722.65,19604.46325,9.241552e+08,714899,9942.36679,4.687387e+08,1.960446e+04,...,0.000000,0.000000,0.000000,NaN,NaN,NaN,0,NaN,NaN,NaN
2022-01-02,47722.66,47990.00,46654.00,47286.18,18340.46040,8.666110e+08,709624,9166.46954,4.331824e+08,1.264003e+03,...,-34.818120,-6.963624,-27.854496,NaN,NaN,NaN,0,NaN,NaN,NaN
2022-01-03,47286.18,47570.00,45696.00,46446.10,27662.07710,1.292204e+09,885624,13524.76045,6.318794e+08,-2.639807e+04,...,-128.715414,-31.313982,-97.401432,NaN,NaN,NaN,0,NaN,NaN,NaN
2022-01-04,46446.10,47557.54,45500.00,45832.01,35491.41360,1.649170e+09,1021815,17689.26808,8.217255e+08,-6.188949e+04,...,-249.802065,-75.011599,-174.790466,NaN,NaN,NaN,0,NaN,NaN,NaN
2022-01-05,45832.01,47070.00,42500.00,43451.13,51784.11857,2.334289e+09,1478532,23552.99460,1.063287e+09,-1.136736e+05,...,-531.751526,-166.359584,-365.391942,NaN,NaN,NaN,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-12-26,99429.61,99963.70,95199.14,95791.60,21192.36727,2.049124e+09,5203490,10071.87249,9.739406e+08,-4.041333e+06,...,649.336173,1621.835275,-972.499101,26.570810,19.847686,26.499527,1,39.616753,46.646436,51.160805
2024-12-27,95791.60,97544.58,93500.01,94299.03,26501.26429,2.528568e+09,5718866,12945.51657,1.235624e+09,-4.067835e+06,...,286.664277,1354.801075,-1068.136798,26.079135,18.492411,27.558651,1,35.264294,43.997085,49.168446
2024-12-28,94299.03,95733.99,94135.66,95300.00,8385.89290,7.946516e+08,2732061,4203.59876,3.984163e+08,-4.059449e+06,...,79.102258,1099.661312,-1020.559054,25.622580,17.970196,26.780411,1,40.388418,46.203787,50.525166
2024-12-29,95300.00,95340.00,93009.52,93738.20,13576.00578,1.278371e+09,2865838,5651.38589,5.321954e+08,-4.073025e+06,...,-209.007042,837.927641,-1046.934683,25.460763,17.207188,27.695069,1,35.301855,43.334612,48.408408
2024-12-30,93738.19,94274.29,93240.03,93866.01,6939.07618,6.502397e+08,1973750,3411.55572,3.197451e+08,-4.066086e+06,...,-422.156185,585.910876,-1008.067061,25.310504,16.864948,27.144233,1,36.070551,43.643038,48.593467

## Volatility

### Average True Range (ATR)

In [221]:
D['ATR_7'] = ta.atr(high=D['High'], low=D['Low'], close=D['Close'], length=7)
D['ATR_14'] = ta.atr(high=D['High'], low=D['Low'], close=D['Close'], length=14)
D['ATR_21'] = ta.atr(high=D['High'], low=D['Low'], close=D['Close'], length=21)

D

,Open,High,Low,Close,Volume,Quote Asset Volume,Number of Trades,TB Base Volume,TB Quote Volume,OBV,...,ADX,+DI,-DI,ADX_Strong,RSI_7,RSI_14,RSI_21,ATR_7,ATR_14,ATR_21
Date,,,,,,,,,,,,,,,,,,,,,
2022-01-01,46216.93,47954.63,46208.37,47722.65,19604.46325,9.241552e+08,714899,9942.36679,4.687387e+08,1.960446e+04,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
2022-01-02,47722.66,47990.00,46654.00,47286.18,18340.46040,8.666110e+08,709624,9166.46954,4.331824e+08,1.264003e+03,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
2022-01-03,47286.18,47570.00,45696.00,46446.10,27662.07710,1.292204e+09,885624,13524.76045,6.318794e+08,-2.639807e+04,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
2022-01-04,46446.10,47557.54,45500.00,45832.01,35491.41360,1.649170e+09,1021815,17689.26808,8.217255e+08,-6.188949e+04,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
2022-01-05,45832.01,47070.00,42500.00,43451.13,51784.11857,2.334289e+09,1478532,23552.99460,1.063287e+09,-1.136736e+05,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-12-26,99429.61,99963.70,95199.14,95791.60,21192.36727,2.049124e+09,5203490,10071.87249,9.739406e+08,-4.041333e+06,...,26.570810,19.847686,26.499527,1,39.616753,46.646436,51.160805,4286.198683,4245.169686,4093.079616
2024-12-27,95791.60,97544.58,93500.01,94299.03,26501.26429,2.528568e+09,5718866,12945.51657,1.235624e+09,-4.067835e+06,...,26.079135,18.492411,27.558651,1,35.264294,43.997085,49.168446,4251.680300,4230.841137,4090.769634
2024-12-28,94299.03,95733.99,94135.66,95300.00,8385.89290,7.946516e+08,2732061,4203.59876,3.984163e+08,-4.059449e+06,...,25.622580,17.970196,26.780411,1,40.388418,46.203787,50.525166,3872.630257,4042.804627,3972.082033
2024-12-29,95300.00,95340.00,93009.52,93738.20,13576.00578,1.278371e+09,2865838,5651.38589,5.321954e+08,-4.073025e+06,...,25.460763,17.207188,27.695069,1,35.301855,43.334612,48.408408,3652.323077,3920.495725,3893.910507
2024-12-30,93738.19,94274.29,93240.03,93866.01,6939.07618,6.502397e+08,1973750,3411.55572,3.197451e+08,-4.066086e+06,...,25.310504,16.864948,27.144233,1,36.070551,43.643038,48.593467,3278.314066,3714.336030,3757.736674

### Bollinger Band

In [224]:
bollinger_10 = ta.bbands(close=D['Close'], length=10, std=2)
D['BB_10_upper'] = bollinger_10['BBU_10_2.0']  
D['BB_10_lower'] = bollinger_10['BBL_10_2.0']

bollinger_20 = ta.bbands(close=D['Close'], length=20, std=2)
D['BB_20_upper'] = bollinger_20['BBU_20_2.0']  
D['BB_20_lower'] = bollinger_20['BBL_20_2.0']

D

,Open,High,Low,Close,Volume,Quote Asset Volume,Number of Trades,TB Base Volume,TB Quote Volume,OBV,...,RSI_7,RSI_14,RSI_21,ATR_7,ATR_14,ATR_21,BB_10_upper,BB_10_lower,BB_20_upper,BB_20_lower
Date,,,,,,,,,,,,,,,,,,,,,
2022-01-01,46216.93,47954.63,46208.37,47722.65,19604.46325,9.241552e+08,714899,9942.36679,4.687387e+08,1.960446e+04,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-01-02,47722.66,47990.00,46654.00,47286.18,18340.46040,8.666110e+08,709624,9166.46954,4.331824e+08,1.264003e+03,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-01-03,47286.18,47570.00,45696.00,46446.10,27662.07710,1.292204e+09,885624,13524.76045,6.318794e+08,-2.639807e+04,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-01-04,46446.10,47557.54,45500.00,45832.01,35491.41360,1.649170e+09,1021815,17689.26808,8.217255e+08,-6.188949e+04,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-01-05,45832.01,47070.00,42500.00,43451.13,51784.11857,2.334289e+09,1478532,23552.99460,1.063287e+09,-1.136736e+05,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-12-26,99429.61,99963.70,95199.14,95791.60,21192.36727,2.049124e+09,5203490,10071.87249,9.739406e+08,-4.041333e+06,...,39.616753,46.646436,51.160805,4286.198683,4245.169686,4093.079616,104482.876447,92087.035553,106004.765758,93210.914242
2024-12-27,95791.60,97544.58,93500.01,94299.03,26501.26429,2.528568e+09,5718866,12945.51657,1.235624e+09,-4.067835e+06,...,35.264294,43.997085,49.168446,4251.680300,4230.841137,4090.769634,100912.716003,93290.253997,106131.277791,92531.106209
2024-12-28,94299.03,95733.99,94135.66,95300.00,8385.89290,7.946516e+08,2732061,4203.59876,3.984163e+08,-4.059449e+06,...,40.388418,46.203787,50.525166,3872.630257,4042.804627,3972.082033,99929.424538,93292.743462,106006.429642,92074.995358
2024-12-29,95300.00,95340.00,93009.52,93738.20,13576.00578,1.278371e+09,2865838,5651.38589,5.321954e+08,-4.073025e+06,...,35.301855,43.334612,48.408408,3652.323077,3920.495725,3893.910507,99908.679205,92568.756795,106171.113089,91556.484911
2024-12-30,93738.19,94274.29,93240.03,93866.01,6939.07618,6.502397e+08,1973750,3411.55572,3.197451e+08,-4.066086e+06,...,36.070551,43.643038,48.593467,3278.314066,3714.336030,3757.736674,99602.154548,92087.395452,106296.250450,91158.648550

## Export

## Columns

In [227]:
D.columns

Index(['Open', 'High', 'Low', 'Close', 'Volume', 'Quote Asset Volume',
       'Number of Trades', 'TB Base Volume', 'TB Quote Volume', 'OBV', 'MA_10',
       'MA_20', 'MA_50', 'MA_100', 'MA_200', 'MACD_12_26', 'Signal_Line_9',
       'MACD_Histogram', 'ADX', '+DI', '-DI', 'ADX_Strong', 'RSI_7', 'RSI_14',
       'RSI_21', 'ATR_7', 'ATR_14', 'ATR_21', 'BB_10_upper', 'BB_10_lower',
       'BB_20_upper', 'BB_20_lower'],
      dtype='object')

Correlation matrix, heatmap

RandomForestRegressor & cross validation